<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stucktle.firebase">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-3930233358914686~2515119606"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>

